/* Desktop桌面端 CSS  */
@media screen and (min-width:900px) {

    /***********************
     
     作者：monk.ren
     说明：父级框架 CSS Document 
     
***********************/
    /*初始化样式*/
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    ::-moz-selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ::selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ul,
    li {
        list-style: none;
    }



    html,
    body,
    p1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    input,
    label {
        color: #23182c;
        font-weight: normal;
        font-size: 12px;
        font-family:
            /* 西文 */
            'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
            "Helvetica Neue", Helvetica, Arial,
            /* 中文 */
            "PingFang SC", "Hiragino Sans GB",
            "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;

        text-rendering: optimizelegibility !important;
        /*控制显示在线字体的微妙细节*/
        -webkit-font-smoothing: antialiased !important;
        /*无抗锯齿none*/
        -webkit-font-smoothing: subpixel-antialiased;
        /*次像素平滑default*/
        -webkit-font-smoothing: antialiased;
        /*灰度平滑*/
        -webkit-font-smoothing: grayscale !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-text-size-adjust: 100%;
    }

    html body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }


    h1 {
        letter-spacing: 0px;
        font-weight: 600;
        font-size: 40px;
        font-family: Montserrat-Medium, PingFangSC-Medium;
        line-height: 56px;
    }

    h2 {
        font-weight: 400;
        font-size: 40px;
    }

    h3 {
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 18px;
    }

    h4 {
        letter-spacing: 1.08px;
        font-weight: 500;
        font-size: 15px;
    }

    p {
        letter-spacing: 1.08px;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
    }


    ul,
    ol {
        list-style: none;
    }



    a {
        text-decoration: none;
        /*去掉下划线*/
    }

    .container {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;

        /* 滚动顺畅*/
        scroll-behavior: smooth;
    }



    /*********************
    
        home
    
    **********************/

    .home {
        width: 100%;
        height: 100%;
        background: #FCF7F7;
    }


    .page {
        position: relative;
        width: 100%;
        height: 100%;
        background: #FCF7F7;
    }




    .home-class {
        position: fixed;
        float: right;
        overflow: visible;
        width: 100%;
        height: 100%;
        background: #fff;
    }

    .home-holder {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .home-title {
        position: relative;
        float: right;
        margin: 40px 20px 0 0;
        width: 200px;
        height: 50px;
        text-align: right;
        z-index: 999;
    }

    .home-title h3 {
        font-size: 28px;
        font-family: monospace;
    }

    .animate {
        opacity: 1;
        transition: .3s ease-in;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .home-item-holder {
        position: relative;
        float: right;
        width: 100%;
        height: 46px;
    }

    .home-item-holder-new {
        height: 46px;
    }


    .entry-holder {
        position: relative;
        z-index: 101;
        float: right;
        margin: 20px 20px 0 0;
        width: 100px;
        align-items: center;
    }

    .entry-holder:after {
        position: absolute;
        z-index: 1000;
        width: auto;
    }

    .post-thumbnail {
        position: fixed;
        z-index: -9;
        width: 70%;
        top: 0px;
        right: 20%;
        visibility: hidden;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
    }

    .home-item-holder .entry-holder.active-post + .post-thumbnail {
        position: absolute;

        z-index: -9;
        top: 0px;
        visibility: visible;
        opacity: 1;
        transform: translateY(-120px);
    }

    .home-item-holder .entry-info {
        position: relative;
        float: right;
        min-width: 150px;
        width: 500px;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 2px;

    }

    .entry-date {
        font-size: 12px;
        opacity: 0.3;
    }

    .home-item-holder h2.entry-title a {
        position: relative;
        z-index: 999;
        float: right;
        padding: 2px 0;
        width: 600px;
        text-align: right;
        word-break: break-word;
        font-weight: 500;
        font-size: 12px;

    }

    .home-item-holder h2.entry-title a:hover {
        color: #555;
        /*        z-index: 99;*/
    }


    /* 
    
    aboutme
    
    */
    .aboutme {
        width: 100%;
        height: 900px;
        background: #FCF7F7;
    }

    .aboutme h1 {
        font-size: 28px;
        line-height: 28px;
    }

    .aboutme h2 {
        font-size: 38px;
        font-family: SimSun, STSong;
        line-height: 38px;
    }

    .aboutme img:hover {
        position: relative;
        -webkit-filter: brightness(1);
        filter: brightness(1);
        transition-duration: 0.5s;
    }


    .page1 {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 800px;
        background: url(../images/aboutme/Page01.png) no-repeat right;
    }

    .page1-title {
        position: absolute;
        top: 180px;
        left: 24%;
        width: 555px;
    }

    .page1-title h1 {
        font-size: 50px;
        font-family: SimSun, STSong;
        line-height: 70px;
    }

    .page1-title h6 {
        color: #212838;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Medium;
        line-height: 0px;
    }

    .aboutme-downbtn {
        position: absolute;
        margin-top: 60px;
        padding: 8px 30px 8px 30px;
        border: none;
        border-radius: 0px;
        background: #FF4169;
        color: #ffffff;
        letter-spacing: 1.6px;
        font-weight: 600;
        font-size: 13px;
        -webkit-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }

    .page1-callme {
        position: absolute;
        margin-top: 200px;
    }
}
