@import url("../webfonts/coltrane_regular_demo/stylesheet.css");
/*自定义变量换皮*/
/*
:root {
    --color-00: #000;
    --color-ff: #fff;
    --color-d1: #140C1A;
}*/






/***********************
     
     作者：monk.ren
     说明：父级框架 CSS Document 
     
***********************/
/*初始化样式*/


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;

}


html,
body,
p1,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
label {
    color: var(--color-00);
    font-weight: normal;
    /*    font-size: 12px;*/
    font-family:
        /* 西文 */
        'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", Helvetica, Arial,
        /* 中文 */
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft Yahei UI",
        "Microsoft Yahei",
        "Source Han Sans CN",
        sans-serif;

    text-rendering: optimizelegibility !important;
    /*控制显示在线字体的微妙细节*/
    -webkit-font-smoothing: antialiased !important;
    /*无抗锯齿none*/
    -webkit-font-smoothing: subpixel-antialiased;
    /*次像素平滑default*/
    -webkit-font-smoothing: antialiased;
    /*灰度平滑*/
    -webkit-font-smoothing: grayscale !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100%;
}

/* 设置滚动条的样式 */
/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
    /*水平滚动条的样式*/
    width: 0px;
    background-color: #fafafa;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    /*滚动条的背景颜色*/
    -webkit-border-radius: 0;
    /*滚动条的圆角宽度*/
}

::-webkit-scrollbar {
    width: 0px;
    /*滚动条的宽度*/
    height: 8px;
    /*滚动条的高度*/
}

::-webkit-scrollbar-thumb:vertical {
    /*垂直滚动条的样式*/
    height: 0px;
    background-color: #fafafa;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    /*滚动条的hover样式*/
    height: 0px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

/*
iOS兼容iFrame滚动条样式
*/

/*
.scroll-wrapper {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 10%;
    height: auto;
    background: #000;
}*/

/*
iframe {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    background: var(--color-ff);

}
*/


html body {
    /*    overflow-x: hidden;*/
    /*
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: 0;
    background: var(--color-ff);
*/
}



/* Desktop桌面端 CSS  */
@media screen and (min-width:1126px) {



    .bbbb {
        /* overflow: hidden; */
        overflow:auto;
    }



    /*********************
    
        左侧导航栏
    
    **********************/
    


    /*********************
    
        footer
    
    **********************/




    .access {
        position: fixed;
        /* bottom: 10; */
        z-index: 101;
        width: 100%;
        height: 40px;
        background: #000;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        overflow:visible;
        bottom: 0;


        /*        font-family: "coltrane regular demo";*/
    }

    .ww {
        position: relative;
        right: 2px;
        float: right;
        margin: 8px 10px;
        width: 700px;
        text-align: right;
    }

    .ww a {
        color: #fff;
    }

    .www {
        position: relative;
        right: 0px;
        float: left;
        margin-left: -8px;
        width: 500px;
    }

    .www a {
        color: var(--color-ff)
    }

    .social-light {
        position: relative;
        float: left;
        padding: 0px;
        margin-top: 5px;
        width: 100%;
        list-style: none;
    }

    .social-light li {
        float: left;
        margin-left: 12px;
        width: 30px;
    }

    .monkren {
        position: fixed;
        left: 10px;
        bottom: 40px;
        display: none;
        width: 160px;
        height: auto;
    }

    .wechat:hover+.monkren {
        display: block;
    }

    /*源文件*/
    .beta {
        display: none;
        position: fixed;
        float: left;
        margin-left: 10px;
        padding: 1px 6px;
        background: #FE4A4B;
        color: #fff;
        font-size: 12px;
        bottom: 226px;
        text-align: right;

    }
    .line {
        position: relative;
        float: right;
        width: 100%;
        background: var(--color-00);
        height: 1px;
        margin-bottom: 0px;
        margin-top: 0px;
        opacity: 0.1;
    }
}

@media screen and (max-width:1126px) {


    body {
        /*
        position: relative;
        margin-bottom: 100px;
        padding: 0;
        width: 100%;

        margin-top: 0px;
*/

    }

    .bbbb {
        overflow-x: hidden;
        overflow-y: scroll;
    }


    /*
    iframe {
        position: fixed;
        z-index: 98;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
    }
*/

  
    /*********************
    
        footer
    
    **********************/

    .access {
        position: fixed;
        bottom: 0;
        z-index: 101;
        width: 100%;
        height: 40px;
        background: #000;
        color: #fff;
        font-size: 12px;
        left: 0px;

    }

    .ww {
        position: fixed;
        bottom: 0px;
        display: none;
        float: left;
        margin: 3px 0px;
        width: 100%;
        text-align: center;
    }

    .www {
        position: fixed;
        width: 100%;
        height: auto;
        background: #000;
    }


    .www a {
        color: #fff;
    }

    .social-light {
        position: relative;
        left: 50%;
        z-index: 9999;
        float: left;
        margin-top: 4px;
        margin-left: -176px;
        width: 100%;
        list-style: none;
    }

    .social-light li {
        float: left;
        margin-right: 7.5%;
        padding: 0;
    }

    .social-light img {
        width: 32px;
    }

    .monkren {
        position: fixed;
        right: 30px;
        bottom: 80px;
        display: none;
        width: 120px;
        height: 120px;
    }

    .wechat:hover+.monkren {
        position: fixed;
        right: 10px;
        bottom: 80px;
        display: block;
        width: 120px;
        height: 120px;
    }


    .zzhao {
        position: fixed;
        z-index: 98;
        width: 100%;
        height: 100%;
        background: var(--color-ff);
        opacity: 0.7;
        transition: 0.6s;
        /*            点击穿透*/
        pointer-events: visible;
        left: 0;
    }

    .zzzhao {
        position: fixed;
        z-index: 999;
        display: none;
        width: 100%;
        height: 100%;
        background: var(--color-ff);
        opacity: 0;

        /*            点击穿透*/
        pointer-events: auto;
        left: 0;
        transition: 0.6s;
    }

    /*源文件*/
    .beta {
        position: absolute;
        float: left;
        left: 50%;
        padding: 1px 6px;
        background: #FE4A4B;
        color: #fff;
        font-size: 12px;
        top: 16%;
        text-align: left;

        margin-left: -20px;
    }
    .line {
        position: relative;
        float: right;
        width: 100%;
        background: var(--color-00);
        height: 1px;
        margin-bottom: 0px;
        margin-top: 0px;
        opacity: 0.1;
    }

}