.container {
    position: fixed;
    top: 0px; // Hide the horizontal scrollbar.
    left: 0;
    width: 100vh;
    height: calc(100vw);

    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(50vh);
    background: #000;
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0em auto;
    /*    padding: 2em;*/
    width: 250px;
    height: 280px;
    transform: rotate(90deg);
    text-align: left;
    margin-right: 200px;
}

.child-img {

    width: 100%;
}
