@import url("../webfonts/coltrane_regular_demo/stylesheet.css");


/* 移动端*/
@media screen and (max-width:900px) {


    /***********************
     
     作者：monk.ren
     说明：父级框架 CSS Document 
     
***********************/
    /*初始化样式*/
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    ::-moz-selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ::selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }



    html,
    body,
    p1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    input,
    label {
        color: var(--color-00);
        font-weight: normal;
        font-size: 12px;
        font-family:
            /* 西文 */
            'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
            "Helvetica Neue", Helvetica, Arial,
            /* 中文 */
            "PingFang SC", "Hiragino Sans GB",
            "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
    }

    text-rendering: optimizelegibility !important;
    /*控制显示在线字体的微妙细节*/
    -webkit-font-smoothing: antialiased !important;
    /*无抗锯齿none*/
    -webkit-font-smoothing: subpixel-antialiased;
    /*次像素平滑default*/
    -webkit-font-smoothing: antialiased;
    /*灰度平滑*/
    -webkit-font-smoothing: grayscale !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100%;


    /* 设置滚动条的样式 */
    /* 滚动条 */
    ::-webkit-scrollbar-thumb:horizontal {
        /*水平滚动条的样式*/
        width: 0px;
        background-color: #fafafa;
        -webkit-border-radius: 6px;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: #fff;
        /*滚动条的背景颜色*/
        -webkit-border-radius: 0;
        /*滚动条的圆角宽度*/
    }

    ::-webkit-scrollbar {
        width: 0px;
        /*滚动条的宽度*/
        height: 8px;
        /*滚动条的高度*/
    }

    ::-webkit-scrollbar-thumb:vertical {
        /*垂直滚动条的样式*/
        height: 0px;
        background-color: #fafafa;
        -webkit-border-radius: 4px;
        outline: 2px solid #fff;
        outline-offset: -2px;
        border: 2px solid #fff;
    }

    ::-webkit-scrollbar-thumb:hover {
        /*滚动条的hover样式*/
        height: 0px;
        background-color: #9f9f9f;
        -webkit-border-radius: 4px;
    }



    h1 {
        letter-spacing: 0px;
        font-weight: 600;
        font-size: 30px;
        font-family: "cc";
        line-height: 56px;
    }

    h2 {
        font-weight: 600;
        font-size: 16px;
    }

    h3 {
        margin-bottom: 12px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 16px;
    }

    h4 {
        font-weight: 500;
        font-size: 14px;
    }

    h5 {
        font-weight: 400;
        font-size: 12px;
        margin-top: 8px;
        line-height: 20px;
    }

    h6 {
        margin-top: 6px;
        margin-bottom: 12px;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        font-family: STSongti-SC-Regular, STSongti-SC;
        opacity: 0.5;
    }

    p {
        margin: 4px 0;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
    }

    p1 {
        margin: 4px 0;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
    }

    ul,
    ol {
        list-style: none;
    }



    a {
        text-decoration: none;
        /*去掉下划线*/

    }



    html body {
        /*        overflow-x: hidden;*/
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background: var(--color-ff);
    }




    .container {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }


    /*********************
    
        home
    
    **********************/

    .home {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 100px;
    }


    .page {
        position: relative;
        width: 100%;
        background: var(--color-ff);
    }




    .home-class {
        position: relative;
        float: right;
        width: 100%;
        height: auto;
        background: var(--color-ff);
        overflow: hidden;
        margin-top: 60px;
    }

    .home-holder {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .home-title {
        position: relative;
        float: right;
        margin: 16px 13px 10px 0;
        width: 100%;
        height: auto;
        text-align: right;
    }

    .home-title h3 {
        font-size: 28px;
        font-family: monospace;
    }

    .animate {
        opacity: 1;
        transition: .3s ease-in;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .home-item-holder {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .home-item-holder-new {
        height: 46px;
    }


    .entry-holder {
        position: relative;
        z-index: 101;
        float: right;
        margin: 0px 13px 15px 0;
        width: 200px;
        align-items: center;
    }

    .entry-holder:after {
        position: absolute;
        z-index: 1000;
        width: auto;
    }

    .post-thumbnail {
        visibility: visible;
        width: 94%;
        margin-left: 3%;
        /*        text-align: center;*/
        opacity: 1;
        transition: all 0s ease;

    }

    /*
    .home-item-holder .entry-holder.active-post + .post-thumbnail {

        z-index: -9;
        visibility: visible;
        opacity: 1;
        transition: all 0s ease;
    }
*/

    /*
    .home-item-holder {
        position: relative;
        float: right;
        min-width: 375px;
        width: 100%;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
*/

    .entry-info {
        position: relative;
        float: right;
        max-width: 375px;
        width: 300px;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .entry-date {
        font-size: 14px;
        margin: 4px 0;
        opacity: 0.3;
        font-weight: 400;
    }

    .home-item-holder h2.entry-title a {
        position: relative;
        z-index: 999;
        float: right;
        width: 600px;

    }

    .home-item-holder h2.entry-title a:hover {
        color: #555;
        /*        z-index: 99;*/
    }



    .home-img {
        width: 100%;
        border-radius: 4px;
    }

    .file {
        position: relative;
        float: right;
        margin-left: 10px;
        padding: 0 6px;
        background: var(--color-00);
        color: var(--color-ff);
        font-size: 13px;
    }


    /*********************
    
        右侧导航栏
    
    **********************/

    #page-nav {
        display: none;
        position: fixed;
        right: 0px;
        bottom: 0px;
        z-index: 999;
        padding: 15px 0;
        padding-right: 8px;
        width: 110%;
        height: 60px;

    }

    #page-nav a {
        position: relative;
        display: block;
        float: right;
        margin-right: 4px;
        padding: 2px 6px;
        width: auto;
        height: auto;
        list-style-type: none;
        text-align: right;
        font-weight: 600;
        font-size: 14px;
    }

    #page-nav a.active {
        background-color: #000;
        color: #fff;
    }




    /* Page Loader */
    .js .loading::before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        background: var(--color-bg);
        content: '';
    }

    /*
.js .loading::after {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-link);
    content: '';
    opacity: 0.4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
    pointer-events: none;
}
*/

    @keyframes loaderAnim {
        to {
            opacity: 1;
            transform: scale3d(0.5, 0.5, 1);
        }
    }







    /*********************
    
        Work
    
    **********************/

    .works {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .work {
        margin-bottom: 100px;
        width: 100%;
        height: auto;

    }

    iframe {
        position: relative;
    }



    .workh4 {
        position: relative;
        float: left;
        width: 84%;
        margin-left: 8%;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 40px;


    }

    .title {
        font-family: sans-serif;
        font-weight: 400;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .cover {
        position: relative;
        width: 100%;
        float: right;
        text-align: center;
        font-family: 'Serif SC', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 30px;
        height: auto;

    }

    .line {
        position: relative;
        float: left;
        width: 90px;
        left: 50%;
        background: var(--color-00);
        height: 6px;
        margin-bottom: 30px;
        margin-left: -45px;
        margin-top: 30px;
    }

    .work-title {
        position: relative;
        margin-bottom: 40px;
    }

    .work-fixed {
        display: flex;
        display: -webkit-flex;
        /* Safari */
        flex-direction: row;
        margin-top: 60px;
        width: 100%;
        flex-wrap: wrap;

        justify-content: flex-start;
        align-content: stretch;
    }

    .work-card {
        position: relative;
        margin-bottom: 12px;
        width: 45.5%;
        margin-left: 3%;
    }

    .work-card:hover {
        opacity: 0.7;
        transition-duration: 0.5s;
    }

    .work-img {
        /*
        display: block;
        width: 100%;
        height: auto;
*/
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;
        /*        border-radius: 8px;*/
    }

    .work-img-1 {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        /*        border-radius: 8px;*/
        opacity: 0.5;
        /*            点击穿透*/
        pointer-events: none;
        display: none;

    }



    .work-card-guide {
        margin-left: 3%;
        margin-bottom: 8px;
        width: 94%;
    }

    .work-card-system {
        margin: 0 0px 32px 0;
        width: 100%;
    }

    .work-card-ui {
        margin: 0 0px 32px 0;
        width: 94%;
        margin-left: 3%;
    }


    .work-card-app {
        position: relative;
        margin-bottom: 12px;
        width: 45.5%;
        margin-left: 3%;
    }

    .information-w {
        margin-top: 10px;
        width: 94%;
        margin-left: 3%;
        text-align: center;
        margin-bottom: 16px;
    }



    .doing {
        position: relative;
        float: left;
        width: 97%;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 4px 6px;
        background: #000;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }

    /*********************
    
        Links
    
    **********************/


    .links-bg {
        position: relative;
        left: 0px;
        z-index: 99;
        padding-top: 0px;
        width: 100%;
        height: auto;
        /*       background-color: #FCF7F7;*/
    }



    .links {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 100px;

    }

    #link-page-nav {
        position: fixed;
        top: 20px;
        right: 15px;
        z-index: 110;
        z-index: 999;
        display: none;
        width: 104px;
        height: 900px;
    }


    #link-page-nav a {
        position: relative;
        display: block;
        float: right;
        margin-bottom: 8px;
        padding: 4px 10px;
        width: auto;
        height: auto;
        list-style-type: none;
        text-align: right;
        font-weight: 600;
        font-size: 14px;
    }

    #link-page-nav a:hover {}

    #link-page-nav a.active {
        background-color: #000;
        color: #fff;
    }

    .links-h4 {
        float: right;
        margin: 20px 10px 20px 0;
        color: #908E96;
        font-weight: 400;
        font-size: 12px;
    }




    .linkgroup {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100%;
        color: var(--color-00);
        text-align: left;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 16px;
        /*        margin-left: 2%;*/
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .linkmember {
        position: relative;
        overflow: hidden;
        margin: 0px 10px 10px 0;
        width: 170px;
        height: 140px;
        border-radius: 4px;
        background-color: var(--color-oa);
        text-align: center;
        text-overflow: ellipsis;
        font-size: 18px;
        transition: .5s;
    }

    .linkmember-f {
        position: relative;
        overflow: hidden;
        margin: 0px 2% 2% 0px;
        width: 47%;
        height: auto;
        border-radius: 4px;
        background-color: var(--color-oa);
        text-align: center;
        text-overflow: ellipsis;
        font-size: 18px;
        transition: .5s;
    }

    .linkmember-designer {
        position: relative;
        overflow: hidden;
        margin: 0 0 16px 3%;
        width: 45.5%;
        height: 210px;
        border-radius: 4px;
        background-color: var(--color-oa);
        text-align: center;
        text-overflow: ellipsis;
        font-size: 18px;
        transition: .5s;
    }


    .linkmember-designer-like {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100%;
        color: var(--color-00);
        text-align: left;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 16px;
        /*        margin-left: 2%;*/
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

    }

    .linkmember:hover {
        -webkit-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        -moz-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        text-decoration: none;
        opacity: 0.86;
        filter: alpha(opacity=70);
        transition-duration: 0.5s;
    }

    .linkmember-f:hover {
        /*
        -webkit-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        -moz-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        text-decoration: none;
        opacity: 0.86;
        filter: alpha(opacity=70);
        transition-duration: 0.5s;
*/
        background-color: var(--color-ff);
    }

    .linkmember-designer:hover {
        /*
        -webkit-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        -moz-box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
        text-decoration: none;
        opacity: 0.86;
        filter: alpha(opacity=70);
        transition-duration: 0.5s;
*/
        background-color: var(--color-ff);
    }

    .linklogo {
        position: relative;
        float: left;
        margin: 28px 0px 0px 0px;
        width: 100%;
        height: 40px;

        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .linklogo-f {
        position: relative;
        float: left;
        margin-top: 28px;
        margin-left: 50%;
        left: -20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /*
        -webkit-box-shadow: 0px 4px 5px #EFEFF3;
        -moz-box-shadow: 0px 4px 5px #EFEFF3;
        box-shadow: 0px 4px 5px #EFEFF3;
*/
    }

    .xinzeng {
        position: fixed;
        margin: 2px 0 0 220px;
        width: 34px;
        height: 14px;
        border-radius: 0px;
        background-color: #FF4755;
        color: #fff;
        text-align: left;
        text-indent: 2px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 12px;
        line-height: 110%;
    }

    .linkbt {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 16px 10% 20px 10%;
        height: auto;
        width: 80%;
        text-align: center;
        letter-spacing: 0px;
    }

    .linkname {
        position: relative;
        float: left;
        margin-bottom: 6px;
        width: 100%;
        height: auto;
        font-weight: 600;
        font-size: 14px;
        font-family: Montserrat;
        transition: .5s;
    }

    .linkname1 {
        position: relative;
        float: left;
        margin: 0px;
        width: 100%;
        height: auto;
        color: #C9C9C9;
        font-weight: 500;
        font-size: 12px;
        font-family: Montserrat;
        line-height: 20px;
        transition: .5s;
    }

    .linkintroduce {
        position: relative;
        float: left;
        overflow: hidden;
        margin-top: 8px;
        width: 100%;
        height: 34px;
        color: #666;
        text-align: center;
        text-overflow: ellipsis;
        letter-spacing: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        transition: .5s;
    }

    .link a:hover {
        outline: none;
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .links h1 {
        margin-left: 4px;
        font-size: 90px;
        opacity: 0.04;
    }

    .links h4 {
        margin-left: 12px;
        opacity: 1;
        font-size: 14px;
    }

    /*
    .link h3 {
        position: relative;
        width: 110%;
        color: #000;
        letter-spacing: 1.08px;
        font-size: 18px;
        font-family: Montserrat, PingFangSC-Semibold;
    }

    .link h5 {
        color: #000;
        letter-spacing: 1.08px;
        font-size: 12px;
        font-family: Montserrat, PingFangSC-Semibold;
    }
*/

    /*********************
    
        footer
    
    **********************/
    .footer {
        position: relative;
        z-index: 111;
        float: left;
        margin-top: 100px;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
        background: #fff;
    }

    .copyright {
        position: absolute;
        right: 50px;
        color: #242025;
        text-align: right;
        letter-spacing: 3.43px;
        font-size: .5em;
        font-family: MontserratLight;
    }


    .talk {
        position: relative;
        padding-left: 6%;
        width: 100%;
        height: 704px;
        background: #fff;
        color: #000;
    }

    .talk1 {
        position: fixed;
        margin: -220px 0 0 0;
        width: 100%;
        height: 280px;
        background-color: #000;
        transition: .5s;
    }



    .talk-page1 {
        position: relative;
        margin: 50px 0;
        width: 70%;
        height: auto;
    }

    .talk-page2 {
        position: relative;
        margin: 50px 0;
        width: 70%;
        height: auto;
    }

    .talk-page3 {
        position: relative;
        margin: 50px 0;
        width: 70%;
        height: auto;
    }



    .talk-page3-name {
        position: relative;
        margin-top: 35px;
        margin-left: 65px;
        width: auto;
        height: 40px;
        font-size: 10px;
    }


    .talk-link {
        position: relative;
        float: left;
        margin: 0;
        width: 100%;
        list-style: none;
    }

    .talk-link li {
        float: left;
        margin-right: 10px;
    }

    .social {
        position: relative;
        float: left;
        margin: 40px 0px 0 0px;
        width: 100%;
        list-style: none;
    }

    .social li {
        position: relative;
        float: left;
        margin-right: 10px;
    }

    .wechat:hover + .monkren {
        display: block;
    }

    .monkren {
        position: fixed;
        right: 100px;
        bottom: 130px;
        display: none;
        width: 90px;
        height: auto;
    }



    .talkh6 {
        margin: 0 0 20px 0;
        color: #767677;
        font-weight: 300;
        font-weight: 400;
        font-size: 13px;
    }

    .talkp {
        margin: 0;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
    }

    .talk-page1-copyright {
        margin: 40px 0 0 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }











    .www a {
        color: #000;
    }


    /* 
    
    aboutme
    
    */



    .aboutme {
        margin-left: 3%;
        padding-top: 80px;
        width: 94%;
        height: auto;
    }


    .about {
        position: relative;
        float: right;
        width: 100%;
        height: 100%;

        margin-top: 20px;


    }

    .about-t {

        margin-bottom: 26px;
    }





    .attitude {
        margin-left: 4%;
        padding-top: 70px;
        width: 92%;
        height: auto;
        margin-bottom: 16px;
    }

    .attitude img {
        border-radius: 8px;
    }

    .design-attitude {

        margin-bottom: 12px;
    }

    .aboutme h1 {
        font-size: 28px;
        line-height: 28px;
    }

    .aboutme h2 {
        font-weight: 500;
        font-size: 30px;
        font-family: SimSun, STSong;
        line-height: 38px;
    }

    .aboutme img:hover {
        position: relative;
        -webkit-filter: brightness(1);
        filter: brightness(1);
        transition-duration: 0.5s;
    }

    .information-about {
        float: left;
        margin-bottom: 16px;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .social {
        position: relative;
        margin-left: -4px;
        height: 40px;
        widows: 100%;
    }

    .social li {
        position: relative;
        float: left;
        margin-right: 10px;
    }

    .page1 {
        position: relative;
        float: left;
        overflow: hidden;
        margin-top: 80px;
        margin-right: 32px;
        margin-bottom: 80px;
        width: 46%;
        height: auto;
        /*        background: url(../images/aboutme/Page01.png) no-repeat right;*/
    }

    .page1-title {
        position: relative;
        width: 100%;
        height: 300px;
    }

    .page1-title h1 {
        font-size: 50px;
        font-family: SimSun, STSong;
        line-height: 70px;
    }

    .page1-title h6 {
        color: #212838;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 12px;
        font-family: PingFangSC-Medium;
        line-height: 0px;
    }





    .page3 {

        position: relative;
        overflow: hidden;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
        padding: 0 16px;
    }

    /*按钮*/
    .button-black-w1 {
        /*flex 布局*/
        display: flex;
        margin-top: 10px;
        width: 120px;
        height: 32px;
        background: #000000;
        color: #fff;
        text-align: justify;

        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;
    }

    .button-black-w1:hover {
        background: #333;
    }

    /*颜色*/
    .red {
        color: firebrick;
        opacity: 1;
    }

    .linksh4 {
        margin: 60px 0 40px 0;
        height: auto;
        text-align: center;

    }

    .linksh4 h4 {
        font-size: 22px;
    }



    .new-t {
        font-family: ;
        margin-bottom: 16px;
        opacity: 0.2;
    }

    .new {
        position: relative;
        width: 100%;
        padding: 0px;
        background: var(--color-ff);
        margin-bottom: 16px;

    }

    .about-nn {
        position: relative;
        margin-bottom: 16px;
        width: 100%;
        height: auto;
        padding: 8px 0;
        /*        background: var(--color-oa);*/
    }

    .about-nt {
        position: relative;
        float: left;
        margin-right: 12px;
        font-size: 14px;
        width: auto;
    }

    .look {
        position: relative;
        float: left;
        width: auto;
        padding: 0 12px;
        background: var(--color-00);
        color: var(--color-ff);
        font-size: 12px;
        height: 100%;
        text-align: center;
    }

    .about-i {
        margin-bottom: 16px;
    }

    .friend-links {
        position: relative;
        float: left;
        margin-top: 16px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: auto;
        height: 20px;
    }


    /*****************************
    
    uikits
    
    *****************************/

    .uikits {
        position: relative;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 30px;
    }


    .uikit {
        display: flex;
        display: -webkit-flex;
        /* Safari */
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
    }


    .uikit-1 {
        position: relative;
        margin: 20px 0 60px 0;
        /*        width: 940px;*/
        width: 100%;
        height: 700px;
    }

    .kit {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .kit-free {
        position: relative;
        width: 45.5%;
        margin: 0px 0 16px 3%;
    }

    .kit-picture {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
    }

    .kit-free-picture {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 8px;
    }

    .kit-img {
        position: absolute;
        /*设置图片轮播一次时间，以及轮播方式（无限循环）*/
        /*让所有图片显示在一个位置，设置绝对位置*/
        opacity: 1;
    }

    .kit-img-3 {
        position: absolute;
        /*设置图片轮播一次时间，以及轮播方式（无限循环）*/
        /*让所有图片显示在一个位置，设置绝对位置*/
        opacity: 0;
        animation: kit-p 16s infinite;
    }


    .uikit-buy {
        position: relative;
        float: left;
        padding: 0px 10px;
        width: 100%;
        height: 360px;
        text-align: left;
        font-size: 12px;
    }

    .uikit-information {
        position: absolute;
        bottom: 32px;
        width: 100%;
    }

    .share-ll {
        margin: 0 0 16px 3%;
        width: 35.5%;
        height: 120px;
        background: #fafafa;
        padding: 5%;
    }

    .information-n {
        float: left;
        margin-bottom: 16px;
        margin: 0;
        width: 100%;
    }



    .line1 {

        float: left;
        margin-bottom: 16px;
        width: 10px;
        height: .5px;
        background: #000;
        opacity: 1;

    }

    /***************
    
    按钮
    
    ****************/
    .button-black {
        /*flex 布局*/

        display: flex;
        margin-top: 10px;
        width: 94%;
        height: 35px;
        background: #000000;
        color: #fff;
        text-align: justify;

        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;
    }

    .button-black:hover {
        background: #333;
    }

    .button-red {
        /*flex 布局*/
        display: flex;
        margin-top: 10px;
        width: 94%;
        height: 35px;
        background: #FD6856;
        color: #fff;
        text-align: justify;

        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;
    }

    .button-red:hover {
        background: #FF8F81;
    }


}
