/*字体引用*/
@import url("../webfonts/coltrane_regular_demo/stylesheet.css");

@media screen and (max-width:900px){



    /*初始化样式*/
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    ::-moz-selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ::selection {
        background: #ddd;
        color: #000;
        text-shadow: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }



    html,
    body,
    p1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    input,
    label {
        color: var(--color-00);
        font-weight: normal;
        font-family: “Helvetica Neue”, "Helvetica", "PingFang SC",
            "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
            "Source Han Sans CN";
    }

    /*控制显示在线字体的微妙细节*/
    -webkit-font-smoothing:antialiased
    /*无抗锯齿none*/
    -webkit-font-smoothing:subpixel-antialiased
    /*次像素平滑default*/
    -webkit-font-smoothing:antialiased
    /*灰度平滑*/
    /* -webkit-font-smoothing:grayscale;
    -moz-osx-font-smoothing:grayscale;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%; */


    ::-webkit-scrollbar-track-piece {
        background-color: #fff;
        /*滚动条的背景颜色*/
        -webkit-border-radius: #000;
        border-radius: 0;
        /*滚动条的圆角宽度*/
    }

    ::-webkit-scrollbar {
        width: 0px;
        /*滚动条的宽度*/
        height: 8px;
        /*滚动条的高度*/
    }

    ::-webkit-scrollbar-thumb:vertical {
        /*垂直滚动条的样式*/
        height: 0px;
        background-color: #fafafa;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        outline: 2px solid #fff;
        outline-offset: -2px;
        border: 2px solid #fff;
    }

    ::-webkit-scrollbar-thumb:hover {
        /*滚动条的hover样式*/
        height: 0px;
        background-color: #9f9f9f;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }



    h1 {
        letter-spacing: 0px;
        font-weight: 600;
        font-size: 26px;
        font-family: "coltrane regular demo";
        line-height: 46px;
    }

    h2 {
        font-weight: 400;
        font-size: 16px;
    }

    h3 {
        margin-bottom: 12px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 16px;
    }

    h4 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
    }

    h5 {
        font-weight: 600;
        font-size: 12px;
        margin-top: 8px;
        line-height: 20px;
    }

    h6 {
        margin-top: 6px;
        margin-bottom: 12px;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        font-family: STSongti-SC-Regular, STSongti-SC;
        opacity: 0.5;
    }

    p {
        margin: 4px 0;
        letter-spacing: 0px;
        font-weight: 300;
        font-size: 13px;
        line-height: 24px;
    }

    p1 {
        margin: 4px 0;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
    }

    ul,
    ol {
        list-style: none;
    }

    a {
        text-decoration: none;
        /*去掉下划线*/
    }


    html body {

        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background: var(--color-ff);
    }




    /*  */

    .line1 {
        opacity: 1;
        float: left;
        width: 10px;
        height: 2px;
        background: var(--color-00);
        margin-bottom: 16px;
    }

    .line {
        position: relative;
        float: left;
        width: 90px;
        left: 50%;
        background: var(--color-00);
        height: 6px;
        margin-bottom: 30px;
        margin-left: -45px;
        margin-top: 30px;
    }

    /* logo/导航*/



    .logo {
        position: fixed;
        top: 16px;
        left: 3%;
        width: 90px;
        height: 90px;
    }

    .logo-i {
        position: relative;
        float: left;
        width: 50px;
    }

    .logo-t {
        position: relative;
        font-size: 32px;
        width: 100%;
        font-weight: 200;
        text-align: center;
        font-family: "coltrane regular demo";
        margin-top: 0px;
    }

    /*********************
    
        左侧导航栏
    
    **********************/

    .nav {
        position: fixed;
        left: 0px;
        /*70%的不透明度  */
        z-index: 99999;
        width: auto;
        height: 100%;
    }

    /*********************
    
        左侧导航栏
    
    **********************/
    .nav {
        position: fixed;
        left: 0px;
        /*70%的不透明度  */
        z-index: 99999;
        width: auto;
        height: 100%;
    }


    .menu-open {
        position: fixed;
        left: 0px;
        z-index: 99999;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80%;
        list-style: none;
        transition: 0.6s;
        background: var(--color-ff);
        top: 0%;
    }

    .menu-open ul {
        position: absolute;
        left: 0px;
        bottom: 20%;
        height: auto;
        width: 100%;
    }

    .menu-open li {
        float: left;
        width: 100%;
        height: 36px;
        list-style-type: none;
        text-align: center;

    }

    .menu-open a {
        position: relative;
        z-index: 99999;
        display: block;
        margin: 0;
        padding: 0;
        color: var(--color-00);
        text-decoration: none;
        line-height: 30px;
    }

    .menu-open a.active {
        color: var(--color-00);
    }

    .menu {
        position: fixed;
        left: 0px;
        z-index: 99999;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 60%;
        list-style: none;
        transition: 0.6s;
        background: var(--color-ff);
        top: -70%;
    }

    .menu ul {
        position: absolute;
        left: 0px;
        bottom: 20%;
        height: auto;
        width: 100%;
    }

    .menu li {
        float: left;
        width: 100%;
        height: 40px;
        list-style-type: none;
        text-align: center;

    }

    .menu a {
        position: relative;
        z-index: 99999;
        display: block;
        margin: 0;
        padding: 0;
        color: var(--color-00);
        text-decoration: none;
        line-height: 30px;
    }

    .menu a.active {
        color: #000;
    }

    .menu-iii {
        position: fixed;
        top: 16px;
        right: 3%;
       
    }

    .menu-iii-x {
        position: relative;
        bottom: -88%;
        z-index: 999999;
        left: 50%;
        margin-left: -15px;
    }


    .logo2 {
        position: absolute;
        float: left;
        bottom: 16px;
        left: 10px;
        z-index: 99999;
        display: none;

    }

    .selector {
        position: absolute;
        left: 0px;
        z-index: 1;
        display: inline-block;
        margin-top: 7px;
        width: 2px;
        height: 20px;
        border-radius: 40px;
        background: #000;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition-duration: 0.6s;
    }

    .zzhao {
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background: var(--color-ff);
        opacity: 0.7;
        transition: 0s;
        /*            点击穿透*/
        pointer-events: visible;
        left: 0;
    }

    .zzzhao {
        position: fixed;
        z-index: 9999;
        display: none;
        width: 100%;
        height: 100%;
        background: var(--color-ff);
        opacity: 0;

        /*            点击穿透*/
        pointer-events: auto;
        left: 0;
        transition: 0.6s;
    }

    /***************
    
    按钮
    
    ****************/
    .button-black {
        margin-top: 10px;
        /*flex 布局*/
        display: flex;
        width: 100%;
        height: 40px;
        background: #000000;
        color: #fff;
        text-align: justify;
        font-weight: 400;
        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
    }

    .button-black:hover {
        background: #333;
    }

    .button-red {
        margin-top: 10px;
        /*flex 布局*/
        display: flex;
        width: 100%;
        height: 40px;
        background: #FD6856;
        color: #fff;
        text-align: justify;

        /*实现垂直居中*/
        align-items: center;
        /*实现水平居中*/
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
    }

    .button-red:hover {
        background: #FF8F81;
    }

    body {
        background-color: #FCF7F7;
        overflow: hidden;
    }


    .showxx {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: var(--color-ff);
        overflow-y: scroll;
        overflow-x: hidden;
        color: var(--color-00);

        /* 滚动顺畅*/
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        /*       background: #F5F6F9;*/
        left: 0px;

    }
    .showxxx {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: 80px;
        z-index: 10;
        width: 100%;
        height: 92%;
        background: var(--color-ff);
        overflow-y: scroll;
        overflow-x: hidden;
        color: var(--color-00);
        
    }

    .show {
        position: relative;
        width: 94%;
        margin-left: 3%;
        height: auto;

    }



    .information {
        position: relative;

        margin-top: 60px;
        margin-bottom: 400px;
        width: 100%;
        height: auto;
        /*        background: #F8F8F8;*/
        text-align: center;
        font-size: 12px;
    }

    .information-n {

        margin-bottom: 16px;
        text-align: center;
    }



    .line1 {
        position: relative;
        float: left;

        width: 10px;
        height: 2px;
        background: #000;
        opacity: 1;
        left: 50%;
        margin-left: -5px;
    }


    .file {
        /*         
    position: relative;
    bottom: 0px;
    float: left;
    right: 20px; */
        position: relative;
        float: left;
        margin-top: 30px;
    }













    .button-img {

        position: relative;
        width: 20%;
        float: left;
        margin-left: 20%;
        margin-top: 20px;
    }

    .button-img img {
        position: relative;
        left: -80px;
        filter: drop-shadow(#999 80px 0);
    }

    .buy {
        position: relative;
        float: left;
        z-index: 10;
        padding: 30px 20px;
        width: 92%;
        height: 240px;
        background: #F8F8F8;
        text-align: left;
        font-size: 12px;
        margin-top: 16px
    }

    .reward {
        position: relative;
        float: left;
        padding: 30px 20px;

        width: 92%;
        height: 240px;
        background: #F8F8F8;
        text-align: left;
        font-size: 12px;

    }

    .reward-img {
        position: relative;
        float: left;
        margin-top: 10px;
        width: 140px;
        height: auto;
    }

    .author-img {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .author-img img {
        border-radius: 0;
    }


    .main {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 9;

        position: relative;
        top: 0px;
        z-index: 9;
        overflow-x: hidden;
        overflow-y: hidden;



        /* 滚动顺畅*/
        scroll-behavior: smooth;
        margin-bottom: 80px;

    }

    .mainartcle {
        position: relative;
        float: left;
        height: auto;
        width: 100%;
        z-index: 0;
        overflow: hidden;

        margin-top: 60px;


    }




    .main-title {
        position: relative;
        width: 100%;
        margin-bottom: 0px;
        text-align: center;
    }

    .title {
        font-family: sans-serif;
        font-weight: 400;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 10px;
        margin-bottom: 10px;
        opacity: 0.7;



    }

    .cover {
        position: relative;
        width: 100%;
        float: right;
        text-align: center;
        font-family: 'Serif SC', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;


    }
    .cover img {
        margin-bottom: 20px;
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-left: 0%;
    }

    .content-w {
        position: relative;
        float: left;
        text-align: left;
        display: flex;
        display: -webkit-flex;
        /* Safari */
        flex-direction: row;
        margin-top: 24px;
        width: 100%;

        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .introduction {

        position: relative;
        width: 92%;
        float: left;
        margin-left: 4%;
        text-align: center;
        font-family: Songti TC;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        height: auto;
    }

    .content {
        width: 94%;
        margin-left: 3%;
        float: left;
        text-align: center;
    }

    .work-card-app {

        width: 49%;
        float: left;
    }


    .work-img {
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;

        /*        border-radius: 8px;*/
    }




    .return {
        position: fixed;
        top: 16px;
        right: 3%;
        z-index: 1000;
        width: 300px;
        text-align: right;
        font-weight: 600;
    }

    .return-d {
        display: none;
    }

    .return-m {

        position: fixed;
        top: 16px;
        right: 56px;
        z-index: 1000;
        width: 300px;
        text-align: right;
    }

    .return:hover {
        opacity: 1;
        filter: alpha(opacity=70);
        transition-duration: 0.3s;
    }

    /*回到顶部*/


    .main-bottom {
        position: relative;
        float: left;
        width: 94%;
        height: auto;
        background: #fff;
        margin: 0 3%;


    }


    .bottom-more img {
        margin-right: 40px;
    }

    .bottom-title {
        margin: 20px 0 80px 0px;
        font-size: 14px;
        font-weight: 500;
        color: #444;
    }

    .top {
        position: relative;
        float: left;
        bottom: 80px;
        left: 50%;
        z-index: 999;
        width: 40px;
        margin-left: -20px;
        /*
        
        
        right: 20px;
        z-index: 999;
        width: 100%;
        height: auto;
        text-align: right;
        
*/
    }

    .monkren {
        position: fixed;
        display: none;
        width: 160px;
        height: auto;
        bottom: 150px;
        left: 20%;


    }

    .wechat:hover+.monkren {
        display: block;
    }

    .follow {
        position: relative;
        float: left;
        margin-top: 8px;
        width: 320px;
        height: 50px;



    }

    .social {
        position: relative;
        width: 100%;

    }

    .social ul {
        /*
        position: relative;
        float: left;
        width: 100%;
       
        padding-left: 25%;
*/
        display: flex;
        display: -webkit-flex;
        /* Safari */
        flex-direction: row;
        margin-top: 12px;
        width: 60%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-around;
        margin-left: 20%;
    }

    .social li {
        /*
        float: left;
        margin-right: 10px;
*/
    }

    .qz {
        position: relative;
        float: right;
        text-align: center;

        margin-bottom: 24px;
        width: 100%;


    }

    .iframe {
        z-index: 9999;
        position: fixed;
        top: 0px;
        border: 0px;
        height: 100%;
        top: -40px;
    }

    .figma {
        width: 100%;
        margin-left: 0px;
        height: 900px;
    }





    /* 标签样式*/
    .beta {
        position: absolute;
        float: left;
        left: 50%;
        padding: 1px 6px;
        background: #FE4A4B;
        color: #fff;
        font-size: 12px;
        top: 16%;
        text-align: left;
        margin-left: -20px;
    }

    /*尾部信息*/
    .footer {
        z-index: 10;
        position: fixed;
        bottom: 0px;
        border: 0px;
        height: 200px;
    }




}