@media (min-width: 768px) {

    html,
    body,
    p1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    input,
    label {
        font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
        /*"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;*/
        color: #fff;
        text-rendering: optimizelegibility !important;
        /*控制显示在线字体的微妙细节*/
        -webkit-font-smoothing: antialiased !important;
        /*无抗锯齿none*/
        -webkit-font-smoothing: subpixel-antialiased;
        /*次像素平滑default*/
        -webkit-font-smoothing: antialiased;
        /*灰度平滑*/
        -webkit-font-smoothing: grayscale !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-text-size-adjust: 100%;
    }



    /* 段落样式*/

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
        font-weight: 100;
        color: #fff;
        line-height: 1.35;
        margin-top: 0.5em;
        margin-bottom: 0.6em;
    }

    h1 {
        font-family: Montserrat-Medium, PingFangSC-Medium;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 56px;
    }

    h2 {
        font-size: 40px;
        letter-spacing: 2.04px;
        line-height: 1.5em;
        font-weight: 400;
    }

    h3 {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        letter-spacing: normal;
        font-weight: 600;
    }

    h4 {
        font-family: Montserrat-Medium, PingFangSC-Medium;
        font-size: 16px;
        letter-spacing: 2.04px;
        line-height: 1em;
        font-weight: 500;
    }

    h5 {
        font-size: 1em;
        letter-spacing: 2.04px;
        line-height: 1.5em;
        font-weight: 400;
    }

    h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4em;
        padding-bottom: 4px;
    }

    h6 strong,
    h6 dfn {
        color: #aaaaaa;
    }

    p {
        font-weight: normal;
        color: #000000;
        font-size: 1em;
        line-height: 2em;
        padding-bottom: 4px;
        text-indent: 30px;
    }

    body {
        background-color: #23182C;
        overflow: hidden;
    }










    .showxx {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        overflow-y: hidden;
        overflow-x: hidden;
        background: #23182C;
        margin-left: 70px;
        /*       background: #24172E */
    }




    .information {
        position: fixed;
        width: 100px;
        height: auto;
        margin-top: 160px;
        margin-left: 18%;
        text-align: center;
        font-size: 12px;
        z-index: 10;
    }

    .author-img {
        position: relative;
        float: left;
        width: 100%;
        height: 80px;
        margin-bottom: 24px;
    }

    .author-img img {
        border-radius: 50%;
    }


    .main {
        position: relative;
        float: left;
        width: 101%;
        min-width: 400px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 0px;
        /* 滚动顺畅*/
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        z-index: 9;

    }

    .mainartcle {
        position: relative;
        float: left;
        left: 24%;
        height: auto;
        width: 50%;
        max-width: 1900px;
        min-width: 700px;
        z-index: 0;
        overflow: hidden;
        margin-bottom: 100px;
        padding: 140px 100px 100px 100px;
        background-color: #23182C;
    }

    .mainartcle-g {
        position: relative;
        float: left;
        left: 8%;
        height: auto;
        width: 70%;
        max-width: 1920px;
        z-index: 0;
        overflow: hidden;
        margin-bottom: 250px;
        padding: 240px 100px 100px 100px;
        background-color: #FCF7F7;
    }

    .mainartcle img {
        margin: 40px 0;
    }

    .mainartcle-g img {
        margin: 40px 0;
    }


    .main-title {
        position: relative;
        margin-bottom: auto;
    }

    .return {
        position: fixed;
        width: 40px;
        top: 100px;
        right: 120px;
        z-index: 1000;
    }

    .return:hover {
        filter: alpha(opacity=70);
        opacity: 0.50;
        transition-duration: 0.3s;
    }

    /*回到顶部*/


    .main-bottom {
        position: relative;
        float: left;
        width: 100%;
        padding: 100px 0 0 7%;
        height: auto;
        background: #fff;

    }

    .main-bottom h4 {
        margin: 40px 0 20px 20px;
    }

    .bottom-more img {
        margin-right: 40px;
    }

    .bottom-title {
        margin: 20px 0 80px 20px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }

    .top {
        position: relative;
        float: right;
        right: 20%;
        width: 100px;
        height: 120px;
        text-align: center;

    }


    .social {
        position: relative;
        width: 100%;
        height: 50px;
        left: 20px;
        z-index: 1000;
    }










    .social li {
        float: left;
        margin-right: 10px;
    }





    .monkren {
        position: fixed;
        display: none;
        width: 160px;
        height: auto;
        bottom: 150px;
        left: 20%;


    }

    .wechat:hover + .monkren {
        display: block;
    }

}
